$fontColor: #5f5f5f;
$errorColor: #fe4f4f;
$paleColor: #c1c1c1;
$clearColor: #7ec9e2;
* {
    box-sizing: border-box;
}
body {
    background: $clearColor;
    margin: 0;
    padding: 0;
}

.form-test {
    background: #fff;
    width: 500px;
    padding: 20px;
    margin: 50px auto;
    h1 {
        font: {
            size: 20px;
            weight: normal;
        }
        color: $paleColor;
        padding-bottom: 20px;
        border-bottom: solid 1px $paleColor;
        text-align: center;
    }
    form {
        text-align: center;
    }
}
p {
    width: 100%;
    margin: 15px auto;
    text-align: left;
}
.ph-shown {
    position: relative;
    padding-top: 1.5rem;
    label {
        position: absolute;
        top: 0;
        opacity: 1;
        transform: translateY()0;
        transition: all 0.2s ease-out;
    }
    input:placeholder-shown + label {
        opacity: 0;
        transform: translateY(1rem);
        }
    }

.help-text {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

label {
    display: block;
    color: $fontColor;
}
input {
    width: 100%;
    padding: 10px;
    border: solid 1px $paleColor;
    &:valid:required {
        border-color: $clearColor;
    }
    &:invalid {
        border-color: $errorColor;
        & + .help-text {
            color: $errorColor;
        }
    }
    &:required + .help-text::before {
        content: '*\5FC5\9808';
    }

}
textarea {
    width: 100%;
    padding: 10px;
    border: solid 1px $paleColor;
}
.form_radio {
    span {
        display: block;
    }
    input {
        width: auto;
    }
    label {
        cursor: pointer;
        display: inline-block;
    }
}
.form_check {
    @extend .form_radio;
    text-align: center;
}
button {
    margin: 10px auto;
    border-radius: 3px;
    width: 200px;
    padding: 8px;
    border: none;
    background: #7ec9e2;
    cursor: pointer;
    color: #fff;
    &:hover {
        position: relative;
        top: 1px;
    }
}